@model PhotoSharingApplication.Models.Photo

@{
    ViewBag.Title = Model.Title;
}


<h2>"@Model.Title"</h2>
<img width="800" src="@Url.Action("GetImage","Photo",new {id=Model.PhotoID})" />
<p>
    @Html.DisplayNameFor(model => model.Description)
    @Html.DisplayFor(model => model.Description)
</p>
<p>
    @Html.DisplayNameFor(model => model.UserName)
    @Html.DisplayFor(model => model.UserName)
</p>
<p>
    @Html.DisplayNameFor(model => model.CreatedDate)
    @Html.DisplayFor(model => model.CreatedDate)
</p>
@Html.Action("_CommentsForPhoto", "Comment", new { PhotoID=Model.PhotoID})
@Html.ActionLink("Back to List", "Index", "Photo")
